#wrapper
  .sidebar
    .top
      - if user_signed_in?
        .top__user= current_user.name
      %ul
        %li.top__user--new
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        %li.top__user--edit
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-cog{"aria-hidden" => "true"}
    .groups
      - @groups.each do |group|
        .groups__group
          .groups__group--name= group.name
          .groups__group--comment 最新のコメント
