<div id="wrapper">
  <div class="sidebar">
    <div class="top">
      <div class="top-user">ユーザー名</div>
      <ul>
        <li class="top-new"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
        <li class="top-edit"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <div class="groups">
      <div class="group" >
        <div class="group-name">グループ名</div>
        <div class="group-comment">最新のコメント</div>
      </div>
    </div>
  </div>

  <div class="chat">
    <div class="top">
      <div class="chatgroup">
        <div class="chatgroup-name">サンプルグループ</div>
        <ul>
          <li>Member：</li>
          <li class="member">メンバー名</li>
        </ul>
      </div>

      <div class="editbtn">
        <a href="#">Edit</a>
      </div>
    </div>

    <div class="messages">
      <div class="message">
        <div class="upper-message">
          <div class="message-user">ユーザー名</div>
          <div class="message-date">YYYYMMDD</div>
        </div>

        <div class="lower-message">
          <p>コメント</p>
        </div>
      </div>
    </div>

    <div class="bottoms">
      <form>
        <input class="textarea" type="text" name="body" placeholder="type a message">
        <input class="submit" type="submit" value="Send">
      </form>
    </div>
  </div>
</div>
