#wrapper
  .sidebar
    .top
      - if user_signed_in?
        .top__user= current_user.name
      %ul
        %li.top__user--new
          %a{:href => "#"}
            %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        %li.top__user--edit
          %a{:href => "#"}
            %i.fa.fa-cog{"aria-hidden" => "true"}
    .groups
      - @groups.each do |group|
        .groups__group
          .groups__group--name= group.name
          .groups__group--comment 最新のコメント
  .chat
    .top
      .top__chatgroup
        .top__chatgroup-name サンプルグループ
        %ul
          %li Member：
          %li.member メンバー名
      .top__chatgroup--editbtn
        = link_to  "Edit", edit_group_path(@groups)
    .messages
      .messages__message
        .messages__message--upper-message
          .message-user ユーザー名
          .message-date YYYYMMDD
        .messages__message--lower-message
          %p コメント
    .bottoms
      %form
        %input.textarea{:name => "body", :placeholder => "type a message", :type => "text"}/
        %input.submit{:type => "submit", :value => "Send"}/
