.chat-group-form
  %h1 新規チャットグループ
  %form#new_chat_group.new_chat_group{"accept-charset": "UTF-8", action: "/chat_groups", method: :post}
    .chat-group-form__errors
      = form_for @group do |f|
        - if @group.errors.any?
          %h2
            = @group.errors.count
            件のエラーが発生しました。
          %ul
            -@group.errors.full_messages.each do |message|
              %li
                =message
  = render "groupmember"
